<div class="row">
    <div class="col-md-1">{{user.UserId}}</div>
    <div class="col-md-3">{{user.Username}}</div>
    <div class="col-md-3"><input type="text" v-model="user.EmailAddress" class="form-control"/></div>
    <div class="col-md-2"><input type="text" v-model="user.PhoneNumber" class="form-control"/></div>
    <div class="col-md-1"><input type="number" v-model="user.UserStatusId" class="form-control"/></div>
    <div class="col-md-1"><i class="fa fa-trash-o" aria-hidden="true" v-on:click="deleteUser"></i></div>
    <div class="col-md-1"><i class="fa fa-floppy-o" aria-hidden="true" v-on:click="saveUser"></i></div>
</div>